<div class="wrapper  lgtm">
  <h2><%= "#{current_user.nickname}さん、LGTMおめでとうございます！" %> </h2><br>
  <p>総いいね数１００までやりきりましたね。</p>

  <p>初めてイラスト投稿した時と比べ、力がついてきたのではないでしょうか？<br>
    これからもこの成功を糧に一歩を踏み出していってください。</p>


  <p>
    まずはイラストの有料依頼サイトであるココナラ、Skebに登録してみましょう。<br>
    ココナラやSkebも神絵師しかいないわけではありません。<br>
    すでに実績と経験をつんだあなたならきっと大丈夫です。

  </p>

  <div class="lgtm_link">
    <p>
      ココナラURL<br>
      <a href="https://coconala.com/">https://coconala.com/</a><br>
      <br>

      Skeb<br>
      <a href="https://skeb.jp/">https://skeb.jp/</a><br>
    </p>
  </div>
  <p>
    また依頼を受けやすくするためにTwitter、Pixivに登録してフォロワー数を増やしていきましょう。<br>
    絵を定期的にアップして、上手・下手にかかわらずフォローやいいねを<br>
    こちらから積極的にしていけばフォロワー数は自然と増えていきます。<br>
    どんどん積極的にフォローやいいねをしていきましょう。
  </p>

  <p>
    もちろんこれからも絵の練習は必要です。一緒に頑張っていきましょう！<br>
    これからのあなたのご活躍に、スタッフ一同応援しております！
  </p>

</div>

<%# CSSアニメーション %>
<ul class="sakura">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>