<div id="menu" class="bg">
    <header>
      <div class="wrapper">
        <!-- ヘッダータイトル -->
        <h1 class="header_title"><a href="index"><img src="#" alt="">HOME</a></h1>

          <!-- ヘッダーメニュー -->
          <nav>
            <ul class="menu_list">
              <li><a href="#">ログイン</a></li>
              <li><a href="#">ログアウト</a></li>
              <li><a href="#">新規登録</a></li>
              <li><a href="#">新規投稿</a></li>
            </ul>
          </nav>
      </div>    
   </header>

   <div class="wrapper menu_content">
      <h2 class="main_title">仮トップページ</h2>
      <p>
        説明説明説明説明説明説明説明説明説明説明説明
        説明説明説明説明説明説明説明説明説明説明説明
        説明説明説明説明説明説明説明説明説明説明説明
        説明説明説明説明説明説明説明説明説明説明説明
        説明説明説明説明説明説明説明説明説明説明説明
        説明説明説明説明説明説明説明説明説明説明説明
      </p>

   </div>
</div>

<!-- グリッド部分 -->
<div class="wrapper grid"> 

  <div class="item">
    <a href="#"><img src="/images/image1.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>

  <div class="item">
    <a href="#"><img src="/images/neko3.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>

  <div class="item">
    <a href="#"><img src="/images/menu3.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>

  <div class="item">
    <a href="#"><img src="/images/image4.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>

  <div class="item">
    <a href="#"><img src="/images/menu5.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>

  <div class="item">
    <a href="#"><img src="/images/image6.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>
  <div class="item">
    <a href="#"><img src="/images/image7.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>

  <div class="item">
    <a href="#"><img src="/images/neko2.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>

  <div class="item">
    <a href="#"><img src="/images/neko1.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>

  <div class="item">
    <a href="#"><img src="/images/image3.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>

  <div class="item">
    <a href="#"><img src="/images/menu9.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>

  <div class="item">
    <a href="#"><img src="/images/image2.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>

  <div class="item">
    <a href="#"><img src="/images/menu9.jpg" alt=""></a>
    <p>説明説明説明説明説明説明</p>
  </div>


</div>

<footer>
  <p>copyright~~</p>
</footer>
