<div>
  <h2 class="alert alert alert-light">検索結果一覧</h2>
</div>

<div class="wrapper grid"> 
  <div class="items">
    <% @posts.each do |post| %> 
      <%= render partial: "post", locals: { post: post } %>
      <% end  %>
  </div>
</div>
<div class="wrapper page_nate"><%= paginate @posts %></div>