@charset "utf-8";

*,*::before,*::after {
    box-sizing: border-box; 
}

/* 共通部分 */
html{
  font-size: 100%;
}

body{
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color:#333;
}

a{
  color:#333;
  text-decoration: none; /* リンクの下線削除 */
 }

a:hover{
  text-decoration: none;
}

img {
  max-width: 100%;
}

.wrapper{
  max-width: 1200px;
  margin: 0 auto;
  /* スマホ向け余白 */
  padding: 0 3%; 
  /* border: 1px solid red; */
}

h2,h3,h4,h5{
  text-align: center;
}

header{
  background-color: rgba(246, 246, 249, 0.4);
}


footer{
  color: #333;
  text-align: center;
  padding:5px 0;
  background-color: rgba(246, 246, 249, 0.4);
  margin-top: 30px;
}

footer p{
  margin-top: 10px;
} 

li{
  list-style: none;
}

/* -------------------------------------------- */
/* 確認用 */
/* p{
  border: 1px solid #333;
}
h1{
  border: 1px solid orange;
}
h2{
  border: 1px solid blue;
}
a{
  border: 1px solid green;
}
input{
  border: 1px solid peru;
} */

/*************************************************************************************************/
/*インデックスページ 
/*************************************************************************************************/
header .wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  font-size: 1rem;
}

.header_title{
  margin-top: 10px;
  width: 250px;
  text-align: center;
  font-family: 'Philosopher', serif;
}
.header_title h1{
  font-size: 1.5rem;
}

/* ヘッダーメニュー */
.menu_list{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
   /* border: orange 2px solid;  */
}

.menu_list li{
  margin-right: 15px;
  list-style: none;
  font-size: 1.125rem;
}

.main_title{
  font-size: 3rem;
  margin-bottom: 30px;
  font-family: 'Philosopher', serif;
}

.main_description{
  font-size: 1.05rem;
  text-align: left;
  padding-left: 5px;
  margin-bottom: 50px;
}

.main_description p{
  margin-bottom: 25px;
}


.main_menu{
  display: flex;
  justify-content: space-between;
}

/* 投稿ページへのリンクボタン */
.post_link{
  width: 200px;
  height: 250px;
  background-color:rgba(255, 0, 255, 0.05);
  color:#333;
  border: none;
  margin-right: 50px; 
}


/* 練習用ページへのリンクボタン */
.traning_link{
  width: 200px;
  height: 250px;
  background-color:rgba(5, 241, 229,0.25);
  color:#333;
  border: none;
}

#user_link{
  color:rgb(41, 117, 255);
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* 投稿画面(2カラム画面は流用する)*/
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.new_contents{
  display: flex;
  justify-content: space-between;
  padding:10px 0;
  margin-bottom: 20px;
}
.new_left{
width: 48%;
/* border:red 1px solid; */
}
.new_right{
width: 48%;
/* border: blue 1px solid; */
}
#post_title{
  width:100%; 
}


/* 注意書きなど */
.check_point{
  color:#FF0066;
}
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* 詳細表示画面(2カラム画面は流用したい)*/
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.show_contents{
  display: flex;
  justify-content: space-between;
  padding:10px 0;
  margin-bottom: 20px;
}
.show_left{
width:75%;
border: 1px solid #ccc;
/* border:red 1px solid; */
margin: 0 auto;
}
.show_image image{
  max-width: 100%;
  object-fit: contain;
}

.show_right{
width: 30%;
/* border: blue 1px solid; */
}
.show_data{
  margin-bottom: 20px;
}
.show__userdata{
  font-size: 1.1rem;
  /* font-family: 'Philosopher', serif; */
}

.user_link a{
  color:rgb(41, 117, 255);
}

.show__manage_box{
  margin-top: 10px;
}

.show__manage{
  border: 1px solid #ccc;
}
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* コメント欄 */
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.comments{
  margin: 0 auto; 
}
.comment_input{
  margin-bottom: 30px;
}
.comment_input .field{
  margin: 0 auto;
}


.comment_label{
  /* border: 1px solid #ccc;
  border-bottom: none; */
  font-weight: bold;
}
.comments_lists{
  margin: 0 auto;
  width: 80%;
}
.comments_list{
  border: 1px solid #ccc;
  margin-bottom: 20px;
  width: 100%;
}

.comment_box{
  border: 1px solid #eee;
}

.comment_btn{
  margin: 25px auto;
}


/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* MENU */
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
#menu{
  background-image: url("/images/bg3.jpg");
  background-color:rgba(255,255,255,0.6);
  background-blend-mode:lighten; 
  min-height: 50vh;
  margin-bottom: 40px;
  background-size: cover;
}

.menu_content{
  padding-bottom:5%;
  text-align: center;
}

.items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 

}
 .item{
  border: 1px solid #ddd; 
  margin-bottom: 15px;
} 

.item img{
  padding: 3%;
  height: 250px;
  width: 250px;
  object-fit: cover;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* ログイン画面
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* 新規登録画面
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.sign_up{
  margin-top: 15px;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* 新規登録画面・ログイン画面・LGTM画面の背景 */
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
#sign_up,#sign_in,#user_edit,#traning_add,.lgtm{
  background-image: url("/images/bg3.jpg");
  background-size: cover;

  background-color:rgba(255,255,255,0.6);
  background-blend-mode:lighten; 
  min-height: 100vh;
}


/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* 微調整 */
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.field{
  margin-bottom: 20px;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* いいねボタン
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.like_btn_on{
  color:#ff2395;
  font-size: 1.5rem;
}

.like_btn_off{
  color:#8899a6;
  font-size: 1.5rem;
}
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* マイページ
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.user_contents{
  display: flex;
  justify-content: space-between;
  padding:10px 0;
  margin-bottom: 50px;
}

.user_left{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.user_right{
  width: 70%;
}

.user_image{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid #ccc;
  object-fit: cover;
}

.user_data_name{
  font-size: 2rem;
}
.user_data_postcount{
  font-size: 1rem;
  font-weight: bold;
}
.user_data_link{
  margin-left: 10px;
}

.user_data_link a{
  font-size: 1.1rem;
  color:#1a0dab;
}
.user_like_count{
  margin: 15px 0;
  font-weight: bold;
}

.user_profile_title{
  font-weight: bold;
}
.user_profile{
  margin-left: 10px;
}
.user_update{
  border:1px solid #999;
  padding:5px;
}
.user_twitter_url{
  margin-right: 50px;
}
.user_pixiv_url{
  margin-right: 70px;
}
.user_another_url{
  margin-right: 10px;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* マイページ編集画面 */
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
＃user_edit .field{
  margin-bottom: 30px;  
}

.pass_change_form{
  margin: 50px 0;
}

.pass_change_label{
  color: rgb(59, 122, 255);
}


.account_delete{
  margin: 50px 0;
}

.account_delete_title{
  color:#555;

}



/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* LGTM */
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.lgtm{
  font-size: 1.15rem;
  margin: 0 auto;
  padding-bottom: 100px;
  text-align: center;
}

.lgtm p{
  margin-bottom: 20px;
}

.lgtm_link{
  margin: 25px;
}
.lgtm a{
  color: #1a0dab;
}



/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* フォーム入力欄 */
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* #comment_text{
  width: 80%;
} */

input[type="text"],input[type="email"]{
  width: 50%;
}

input[type="password"]{
  width: 30%;
}

textarea{
  width: 80%;
  height: 5rem;  
}

.radio_area{
  margin-left: 20px;
}

.profile{
  width: 50%;
}


/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* 練習用お題ページ */
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.traning_text{
  text-align: center;
  font-size: 80px;
  margin: 50px 0;
  color: #111;
  font-family: serif;
}
.traning_image{
  width: 30%;
  margin: 0 auto ;
}

.traning_menu{
  margin: 50px auto;
  text-align: center;
  display:flex;
  justify-content: space-around;
}

/* 練習用ランダムお題の追加 */
.traning_add{
  width: 200px;
  height: 250px;
  color:#333;
  margin-right: 50px; 
  /* background-image: url("/images/bg3.jpg"); 
  background-size: cover;
  background-blend-mode:lighten; */
  background-color:rgba(166, 125, 255, 0.07);
  border:1px solid rgba(166, 125, 255, 0.07);
}


/* 練習用お題イラストの投稿 */
.traning_post{
  width: 200px;
  height: 250px;
  background-color:rgba(5, 241, 229,0.07);
  color:#333;
    border:1px solid rgba(166, 125, 255, 0.07);
}

.traning_add_page .field{
  margin-bottom: 40px;
}
.traning_image_preview{
  margin-bottom: 40px;
}



/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* 練習用お題追加ページ */
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.traning_image_preview{
  width: 50%;
}

.traning_add_title{
  margin-bottom: 30px;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* 検索フォーム */
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.search_form{
  width: 30%;
}
.search_input{
  border: 1px solid #ddd;
  margin-top: 5px;
}
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* BootStrap再調整 */
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.form-control{
  border: 1px solid #ccc;
} 

.traning_btn{
  font-size: 30px;
  width: 400px;
}
/* .bg-primary {
  color: #fff;
  
  
} */
.require{
  font-size: 12px;
  font-weight: normal;
  color:#fff;
  margin-left: 5px;
  background-color:rgba(25, 148, 255, 0.83);
}

#test_bs{
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* 画像プレビュー */
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.new_left{
  display:flex;
  justify-content: center;
  align-items: center;
  
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* レスポンシブ対応 */
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

@media (max-width: 600px)  {

  header .wrapper{
    flex-direction: column;
  }

  .header_title{
    margin-bottom: 30px;
  }

  .main_title{
    font-size: 2rem;
  }

  .items{
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .new_contents{
    flex-direction: column;    
  }
  .new_left{
    width: 100%;
  }
  
  .new_right{
    width: 100%;
  }

  #new .wrapper{
    margin-bottom: 0px;
  }

  #new .header_title{
    margin-bottom: 10px;
  }

}





